
:root {
    --primary-color: #add8e6;
    --secondary-color: rgb(199, 199, 199);

    --light: #60bbd6;
    --dark: rgb(46, 92, 105);
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*allows us to add padding and borders without adding width to the element*/
    padding: 0;
    margin: 0;
}




#createEvent {
    font-size: 18px;
    background-color: lightblue;
    color: #333;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

#createEvent:hover, #createEvent:focus {
    text-decoration: none;
    cursor: pointer;
}


select #lavender {
    
    background-color: #7986cb;  
}

select #sage {
    
  background-color: #33b679;   
}

select #grape {
    
  background-color: #8e24aa;  
}

select #flamingo {
  background-color: #e67c73;  
}

select #banana {

  background-color: #f6c026;   
}

select #tangerine {

  background-color: #f5511d;  
}
select #graphite {

  background-color: #616161;  
}

select #blueberry {
 
  background-color: #3f51b5;   
}

select #basil {

  background-color: #0b8043;  
}
select #tomato {

  background-color: #d60000;  
}
select option[value="undefined"] {

  background-color: #039be5;  
}

/* Modal Class */
.modal {
    display: none; /* Not shown until button is clicked */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    width: 80%;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid black;
}

#modalclose {
    color: lightgray;
    float: right;
    font-size: 30px;
}

#modalclose:hover, #modalclose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#formcontainer {
    width: 100%;
    float: left;
}

#leftform {
    float: left;
    margin-right: 30px;
}

/* Form input formatting */
#eventcreator {
    color: black;
    font-size: 30px;
    text-align: center;
}

.required {
    color: red;
}

.modal-content label {
    color: black;
    font-size: 18px;
}

input[type = "text"], input[type = "date"], input[type = "time"], select {
    font-size: 18px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

#title-input {
    width: 20%;
}

#invitees-input {
    width: 90%;
}

select {
    width: 160px;
}

input[type = "submit"] {
    font-size: 18px;
    float: right;
    background-color: lightblue;
    border-radius: 10px;
}

input[type = "submit"]:hover, input[type = "submit"]:focus {
    text-decoration: none;
    cursor: pointer;
}

/* Calendar Formatting */
.calview {
    padding: 20px;
    grid-column: 1 / span 4;
}

#calendar {
    width: 100%;
    border: solid 2px;
    border-radius: 20px;
}

#month {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.arrows {
    width: 3%;
}

#dates {
    width: 100%;
}

.datemarker {
    border-bottom: solid 1px;
    width: 13%;
}

table td {
    vertical-align: top;
}