
.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--secondary-color);
    color: #333;
    border: 1px #333 solid;
    border-radius: 5px;
}
.btn:hover {
    background:var(--light);
    border: 1px var(--dark) solid;
    transform: scale(.98);
}

.btn-outline {    
    border: 1px var(--dark) solid;
}


.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0,0,0,0.2);
    padding: 20px;
    margin: 10px;
}

.container {
    max-width: 90%;
    margin: 0 auto; /*0 - top bottom, auto - left right*/
    overflow: auto; /*fixed the white space at top*/
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center; /*align horizontal if row*/
    align-items: center; /*align vertically if row*/
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-item {
    height: auto;
    margin: 5px 0;
    justify-self: center;
    align-self: center;
}






/* Margins and Padding */
.m-1 {
    margin: 0.5rem;
}

.m-2 {
    margin: 1rem;
}

.m-3 {
    margin: 1.5rem;
}

.m-4 {
    margin: 2rem;
}

.my-1 {
    margin: 0.5rem 0;
}

.my-2 {
    margin: 1rem 0;
}

.my-3 {
    margin: 1.5rem 0;
}

.my-4 {
    margin: 2rem 0;
}

.p-1 {
    padding: 0.5rem;
}
.p-2 {
    padding: 1rem;
}

.p-3 {
    padding: 1.5rem;
}

.p-4 {
    padding: 2rem;
}

.py-1 {
    padding: 0.5rem 0;
}

.py-2 {
    padding: 1rem 0;
}

.py-3 {
    padding: 1.5rem 0;
}

.py-4 {
    padding: 2rem 0;
}

::-webkit-scrollbar-thumb {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #dadce0;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    min-height: 40px;
}

::-webkit-scrollbar {
    background: transparent;
    height: 8px;
    width: 8px;
}

